.mainContent {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  transition: all 0.3s;
}

.tableContainer {
  overflow-x: auto;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background-color: white;
  margin-bottom: 30px;
}

.coffeeCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .mainContent {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }

  .coffeeCards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
